/* Crossed out price */

.crossed-out {
    position: relative;
    display: inline-block;
}
.crossed-out::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.crossed-out::after {
    border-bottom: 1px solid var(--color-red);
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}

/* Jumbotron background */

.jumbotron {
    background-image: url("/mining/img/cloud_mining.png");
    background-position: bottom right;
    background-size: contain;
}